.signup-bg {
    background-image: url('https://img.freepik.com/premium-photo/generic-brandless-modern-sport-car_110488-1758.jpg?w=900');
    background-repeat: no-repeat;
    background-size: cover;
}
.form-bg {
    background-image: url('https://img.freepik.com/premium-photo/generic-brandless-modern-sport-car_110488-1758.jpg?w=900');
    background-size: cover;
    background-repeat: no-repeat;
    background-size: cover;
}